
<div class="mx-5 px-5">

    <h2>Sign up</h2>

    <%# TODO Error looks funky %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>




    <!-- First Name -->
    <div class="field input-group mb-3 d-flex">
        <div class="input-group-prepend">
        <%= f.label :firstName, class:"input-group-text form-control" %>
        </div>

        <%= f.text_field :firstName, autofocus: true, class:"form-control" %>
    </div>

    <!-- Last Name -->
    <div class="field input-group mb-3 d-flex">
        <div class="input-group-prepend">
            <%= f.label :lastName, class:"input-group-text form-control" %>
        </div>

        <%= f.text_field :lastName, class:"form-control" %>
    </div>

    <!-- E-Mail -->
    <div class="field input-group mb-3 d-flex">
        <div class="input-group-prepend">
            <%= f.label :email, class:"input-group-text form-control" %>
        </div>

        <%= f.email_field :email, autocomplete: "email", class:"input-group-text form-control" %>
    </div>

    <!-- Date of Birth -->
    <div class="field input-group mb-3 d-flex">
        <div class="input-group-prepend">
            <%= f.label :birthday, class:"input-group-text form-control" %>
        </div>

        <%= f.date_field :birthday, class:"input-group-text form-control" %>
    </div>

    <!-- Address -->
    <div class="field input-group mb-3 d-flex">
        <div class="input-group-prepend">
            <%= f.label :address, class:"input-group-text form-control" %>
        </div>

        <%= f.text_area :address, class:"input-group-text form-control" %>
    </div>

    <!-- Phone Number -->
    <div class="field input-group mb-3 d-flex">
        <div class="input-group-prepend">
            <%= f.label :phone, class:"input-group-text form-control" %>
        </div>

        <%= f.telephone_field :phone, class:"input-group-text form-control" %>
    </div>

    <!-- Password -->
    <div class="field input-group mb-3 d-flex">
        <div class="input-group-prepend">
            <%= f.label :password, class:"input-group-text form-control" %>
        </div>

        <%= f.password_field :password, autocomplete: "new-password", class:"input-group-text form-control" %>

        <% if @minimum_password_length %>
        <em>&nbsp(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>

    </div>

    <!-- Password Confirmation -->
    <div class="field input-group mb-3 d-flex">
        <div class="input-group-prepend">
            <%= f.label :password_confirmation, class:"input-group-text form-control" %>
        </div>

        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input-group-text form-control" %>
        <em>&nbsp(passwords must match)</em>
    </div>

    <div class="actions justify-content-end d-flex">
         <%= render "devise/shared/links" %> &nbsp <%= f.submit "Sign up" %>
    </div>


    <% end %>

    <!-- Spacer -->
    <span class="my-5">&nbsp</span>

</div>
