<h1 class="text-center">Jobs</h1>

<% if current_user.userType == false %>
  <h2>Accepted applications</h2>
  <% if @accepts.length != 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Job title</th>
          <th>User</th>
          <th>Status</th>
        </tr>
      </thead>
      
      <tbody>
        <% @accepts.each do |app| %>
          <tr>
            <td><%= app.job.title %></td>
            <td><%= app.user.firstName %></td>
            <td><%= app.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No current accepted applications</p>
  <% end %>

  <h2>Applications</h2>
  <% if @pending.length != 0%>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Job title</th>
          <th>User</th>
          <th>Status</th>
        </tr>
      </thead>
      
      <tbody>
        <% @pending.each do |app| %>
          <tr>
            <td><%= app.job.title %></td>
            <td><%= app.user.firstName %></td>
            <td><%= app.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No current applications</p>
  <% end%>

  <h2>Find job</h2>

<% else %>
  <h2>Your jobs</h2>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Status</th>
    </tr>
  </thead>
 
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job_path(job) %></td>
        <td><%= job.user.firstName %></td>
        <td><%= job.jobStatus %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.userType == true %>
    <%= link_to 'New Job', new_job_path %>
<% end %>