<h1>Show</h1>
<p>
    <strong>Job</strong>
    <%= @job.title %>
</p>

<p>
    <strong>Description</strong>
    <%= @job.description %>
</p>

<p>
    <strong>Payment</strong>
    <%= @job.payment %>
</p>

<p>
    <strong>Date</strong>
    <%= @job.initDate %>
</p>

<p>
    <strong>Date</strong>
    <%= @job.endDate %>
</p>

<p>
    <strong>Skills</strong>
    <%= @job.skills %>
</p>


<% if current_user.userType == true %>
    <%= link_to 'Destroy', job_path(@job),
    method: :delete,
    data: { confirm: 'Are you sure' } %> |

    <%= link_to 'Edit', edit_job_path(@job) %> |
    <%= link_to 'Back', jobs_path %>
    <h2>Applications</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>State</th>
            </tr>
        </thead>

        <tbody>
            <% @job.applications.each do |app| %>
            <tr>
                <td><%= app.user.firstName %></td>
                <td><%= app.user.lastName %></td>
                <td><%= app.user.email %></td>
                <td><%= app.user.phone %></td>
                <td><%= app.accepted %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

<% else %>
    <h2>Applicate</h2>
    <%= form_with(model: [ @job, @job.applications.build ], local: true) do |form| %>
    <p>
        <%= form.submit %>
    </p>
    <% end %>

<% end %>