<h1>Show</h1>
<p>
    <strong>Job</strong>
    <%= @job.title %>
</p>

<p>
    <strong>Autor</strong>
    <%= @job.user.firstName %>
</p>

<p>
    <strong>Description</strong>
    <%= @job.description %>
</p>

<p>
    <strong>Payment</strong>
    <%= @job.payment %>
</p>

<p>
    <strong>Date</strong>
    <%= @job.initDate %>
</p>

<p>
    <strong>Date</strong>
    <%= @job.endDate %>
</p>

<p>
    <strong>Number of Employees</strong>
    <%= @job.maxNumber %>/ <%= @count %> 
</p>

<p>
    <strong>Skills</strong>
    <%= @job.skills %>
</p>

<% if current_user %>
    <% if current_user.userType == true && current_user == @job.user %>
        <%= link_to 'Destroy', job_path(@job),
        method: :delete,
        data: { confirm: 'Are you sure' } %> |

        <%= link_to 'Edit', edit_job_path(@job) %> |
        <%= link_to 'Back', jobs_path %>
        <h2>Applications</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>State</th>
                    <th>Details</th>
                    <th>Accept</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <% @job.applications.each do |app| %>
                <tr>
                    <td><%= app.user.firstName %></td>
                    <td><%= app.user.lastName %></td>
                    <td><%= app.user.email %></td>
                    <td><%= app.user.phone %></td>
                    <td><%= app.status.capitalize() %></td>
                    <td><%= link_to 'Show', job_application_path(@job, app) %></td>
                    <td><%= link_to 'Accept', edit_job_application_path(@job, app) %></td>
                    <td><%= link_to 'Delete', [app.job, app], method: :delete, data: { confirm: 'Estas seguro' }%></td>
                </tr>
                <% end %>
            </tbody>
        </table>

    <% else %>
        <% if current_user != @job.user %>
            <h2>Applicate <%= @userTries %> </h2>
            <% if @count != @job.maxNumber %>
                <% if @userTries == 0 %>
                    <%= link_to 'Apply', new_job_application_path(@job) %>
                <% else %>
                    <p>Solicitud mandada</p>
                <% end %>
            <% else %>
                <p>Trabajo lleno, intenta mas tarde!</p>
            <% end %>
        <% end %>

    <% end %>
<% end %>