
<% if current_user %>
<!-- User Page -->

<div class="modal-body row text-center">
    <div class="col-md-6">
        <%= link_to "Employee Me", pages_employee_path , class:"btn btn-primary" %>
    </div>
    <div class="col-md-6">
        <%= link_to "Get Employees", pages_employer_path , class:"btn btn-secondary"%>
    </div>
</div>
                <%# TODO %>
                <!-- <h1><%= current_user.firstName %></h1> -->
                <!-- <h1><%= current_user.email %></h1> -->
                <%# <% if current_user.userType %>
                <!-- <h1>True</h1> -->
                <%# <% current_user.userType %>
                <%# <% else %>
                <!-- <h1>False</h1> -->
                <%# <% current_user.userType %>
                <%# <% end %>


<% else %>
<!-- Guest Page -->

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
    <main role="main" class="inner cover">

        <h1 class="cover-heading text-primary">Welcome to Jobify!</h1>
        <p class="lead">Please <i class="text-warning">Sign In</i> or <i class="text-warning">Register</i> </p>

        <p class="lead" hidden>
            <%= link_to "Learn more", pages_about_path, class:'btn btn-lg btn-secondary' %>
        </p>

    </main>
</div>
<% end %>
