<!DOCTYPE html>
<html>
  <head>
    <title>Jobify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "Jobify", root_path, class: 'navbar-brand' %>

        <ul class="navbar-nav mr-auto">
          <li class="nav item">
            <%= link_to "About us", pages_about_url , class: 'nav-link' %>
          </li>
          <li class="nav item">
            <%= link_to "FAQ", pages_faq_url , class: 'nav-link' %>
          </li>
        </ul>


        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <% if current_user.userType == false %>
              <li class="nav item">
                <%#= link_to "Employee" , class: 'nav-link' %>
                <%= link_to current_user.firstName, root_path , class: 'nav-link text-success' %>
              </li>
            <% else %>
              <li class="nav item">
                <%#= link_to "Employer" , class: 'nav-link' %>
                <%= link_to current_user.firstName , root_path , class: 'nav-link text-warning' %>
              </li>
            <% end %>

            <li class="nav item">
              <%= link_to "Log Out", destroy_user_session_path , class: 'nav-link', method: :delete%>
            </li>
          <% else %>
            <li class="nav item">
              <%= link_to "Sign in", new_user_session_path , class: 'nav-link' %>
            </li>
            <li class="nav item">
              <%= link_to "Create acount", new_user_registration_path , class: 'btn btn-primary' %>
            </li>
          <% end %>
        </ul>

      </div>
    </nav>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
