<!DOCTYPE html>
<html>
<head>
    <title>Jobify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <nav class="navbar nav-pills sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

            <!-- Home Element -->
            <%= link_to "Jobify", root_path, class: 'navbar-brand text-info' %>

            <!-- Sub-Pages -->
            <ul class="navbar-nav mr-auto">
                <li class="nav item">
                    <%= link_to "About us", pages_about_url , class: 'nav-link' %>
                </li>
                <li class="nav item">
                    <%= link_to "FAQ", pages_faq_url , class: 'nav-link' %>
                </li>
            </ul>


            <!-- Navbar Controls -->
            <ul class="navbar-nav">

            <% if user_signed_in? %>
            <!-- User Home + Corresponding Color TODO BADGE -->

                <!-- Home Badge -->
                <li class="nav item">
                <% if current_user.userType == false %>
                    <%= link_to current_user.firstName, root_path , class: 'nav-link badge-success text-light' %>
                <% else %>
                    <%= link_to current_user.firstName, root_path , class: 'nav-link badge-warning text-light' %>
                <% end %>
                </li>


                <!-- Logout button -->
                <li class="nav item">
                    <%= link_to "Log Out", destroy_user_session_path , class: 'nav-link', method: :delete%>
                </li>


            <% else %>
                <!-- Sign in button TODO Pretty-->
                <li class="nav item">
                    <%= link_to "Sign in", new_user_session_path , class: 'nav-link' %>
                </li>

                <!-- Create Accoutn button -->
                <li class="nav item">
                    <%= link_to "Create acount", new_user_registration_path , class: 'btn btn-info' %>
                </li>
            <% end %>
            </ul>

    </div>
    </nav>


    <!-- Notification Area -->
    <div class="container">

        <!-- Alerts -->
        <!-- <p class="alert"><%= alert %></p> -->
        <% if alert.present? %>
            <div class="alert alert-warning alert-dismissible fade show d-block text-center" role="alert">
                <strong>Holy Guacamole!</strong> &nbsp <%= alert %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% end %>

        <!-- Notifications -->
        <!-- <p class="notice alert-dismissable"><%= notice %></p> -->
        <% if notice.present? %>
            <div class="alert notice alert-info alert-dismissible fade show d-block text-center text-info" role="notice">
                <%= notice %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% end %>

    </div>



    <!-- Content -->
    <div class="container">

        <!-- Spacer -->
        <span class="my-1">&nbsp</span>

        <!-- Ruby Content -->
        <%= yield %>
    </div>


</body>
</html>
